header {
  display: flex;
  justify-content: center;
  height: 178px;
  flex: 1;
}
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.under-header {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

a {
  color: black;
  text-decoration: none;
  font-family: "PT Serif";
  font-size: 14px;
}

a:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

a:hover:after {
  width: 100%;
}

.bruer-logo-div {
  justify-content: center;
  display: flex;
}
.bruer-logo {
  height: 105px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, box-shadow 0.3s;
}

.bruer-logo:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 3px black;
}
