/*GENERELT*/
:root{
  --maincolor: #ececec;
}
header, footer{
  background-color: var(--maincolor);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header ul a, footer ul a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
  border-width: 0;
}

header ul a:after, footer ul a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

header ul a:hover:after, footer ul a:hover:after {
  width: 100%;
}

body {
  background-color: #f1f1f1;
  margin-bottom: 100px;
  font-family: Arial;
  font-size: 17px;
  margin: 0;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  height: 150px;
  flex: 1;
  position: sticky;
  z-index: 10; 
  top: 0;
  margin-bottom: 3.5rem;
  border-bottom: solid 0.01rem #cdd0d4;
}

.meny-span{
  font-size: 2rem;
  transition: 0.3s;
}
.meny-span:hover{
  color: #a2b0c3;
  cursor: pointer;
}

header>nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

header>nav>ul {
  width: 700px;
  display: flex;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

header li {
  list-style: none;
}

header>div a {
  font-size: 1.1rem;
}


.bruer-logo {
  height: 8rem;
  width: 12rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.bruer-logo img{
  height: 100%;
  width: 100%;
}

.bruer-logo:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

/*MAIN*/
section{
  display: flex;
  align-items: center;
  width: 75%;
}
/*Vi bygger kulturelle bruer i samfunnet.*/
.bygge-bruer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.bygge-bruer-div .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: rgba(50, 64, 77, 1);
  position: absolute;
  text-align: center;
  background: #ebedef;
  border-radius: 14px;
  width: 40%;
  height: 30%;
  padding: 1rem;
  transition: transform 0.3s;
}

.bygge-bruer-div .content:hover {
  transform: translateY(-5px);
}

h1 {
  color: #222c38;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bygge-bruer-div img {
  vertical-align: middle;
  object-fit: cover;
  object-position: top;
  flex-shrink: 0;
  width: 98%;
  min-height: 100%;
}
.les-mer-button a{
  text-decoration: none;
}
.les-mer-button {
  cursor: pointer;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebedef;
  height: 3rem;
  width: 10rem;
  border-color: black;
  border-radius: 30px;
  border-width: 2px;
  transition: 0.3s;
}

.les-mer-button:hover {
  background-color: #d3d3d3;
  transform: translateY(-5px);
}

.les-mer-button:active {
  background-color: #c0c0c0;
}

/*Se hva som kommer opp snart.*/
.kommende-eventer{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.details-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.details-row button{
  border-radius: 1rem;
  height: 3.5rem;
  width: 10rem;
  background-color: #f6f7f9;
  transition: 0.3s;
}
.details-row button:hover{
  cursor: pointer;
  background-color: #d3d3d3;
  transform: translateY(-5px);
}
.eventer-container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: left;
  width: 100%;
}
.eventer-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 32%;
  height: fit-content;
  box-shadow: 0 0 0.05rem #222c38;
  border-radius: 0.8rem;
}
.eventer-div>img{
  width: 100%;
}

.dato-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 3rem;
}

.eventer-div span{
  display: flex;
  background-color: #e7e7e7;
  height: 2rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.7rem;
}
.eventer-div h3{
  width: 100%;
  padding-left: 2rem;
  text-align: left;
  font-weight: 600;
  margin-top: 2rem;
  font-family: "Playfair Display";
}
.eventer-div p{
  width: 100%;
  padding-left: 2rem;
  text-align: left;
  margin-top: 0;
}
.eventer-div button{
  background-color: #e7e7e7;
  width: 12rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
}
.eventer-div button:hover{
  cursor: pointer;
  background-color: #d3d3d3;
  transform: translateY(-5px);
}

.daglig-leder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.daglig-leder ul{
  padding-left: 0;
}
.daglig-leder li:first-child{
  font-size: 2rem;
  font-weight: 600;
}
.daglig-leder li:nth-child(2){
  font-size: 1.3rem;
}
.daglig-leder li{
  list-style: none;
}
/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-top: 5rem;
  border-top: 0.01rem solid #222c38;
  padding: 3rem;
}

footer>nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
footer>nav>ul{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  padding-left: 0;
  justify-content: space-evenly;
  gap: 1rem;

}
footer>nav>ul>li{
  list-style: none;
  height: fit-content;
  padding: 0;

}
footer span{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  width: 100%;
  font-size: 1.1rem;
}

/*OM OSS*/
#om_oss section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-bottom: 3rem;
  transition: 0.4s;
}
#om_oss section:hover{
  transform: translateY(-2rem);
}
#om_oss section img{
  width: 40rem;
  height: 100%;
}

#om_oss section div{
  padding: 1.5rem;
}
#om_oss section div h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;

}
#om_oss section div p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
/*STØTT_OSS SIDE*/
#stott_oss div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}

/*PROJECTER SIDE*/
.projecter-eventer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.projecter-eventer-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 0.05rem #222c38;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
}
.bilde-container{
  width: 50%;
}

.projecter-eventer-div img{
  height: 16rem;
  width: 100%;
}

.projecter-eventer-div button{
  width: 10rem;
  height: 3rem;
  background-color: #ebedef;
  border-radius: 0.7rem;
  border: solid 0.1rem #222c38;
  transition: 0.3s;
}
.projecter-eventer-div button:hover{
  cursor: pointer;
  transform: translateY(-0.5rem);
  background-color: #d7d7d7;
}


.projecter-dato-div{
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.projecter-dato-div span{
  background-color: #c7c7c7;
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
/*JAVASCRIPT*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #222c38;
  background-color: rgba(38, 41, 81, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/**/
.projecter-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: rgba(38, 41, 81, 0.8);
  overflow-x: hidden;
  transition: 0.2s;
}

.projecter-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus, .projecter-overlay a:hover, .projecter-overlay a:focus {
  color: #f1f1f1;
}
/*STØTT OSS*/
