/*GENERELT*/
:root{
  --maincolor: #ffddddf1;
  --bodycolor: #ffebeb;
}
html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Fyller opp mellomrommet mellom header og footer */
}

footer {
  background-color: var(--maincolor);
  text-align: center;
  padding: 1rem;
  border-top: 0.01rem solid #222c38;
}
header, footer{
  background-color: var(--maincolor);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header ul a, footer ul a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
  border-width: 0;
}

header ul a:after, footer ul a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

header ul a:hover:after, footer ul a:hover:after {
  width: 100%;
}

body {
  background-color: var(--bodycolor);
  font-family: Arial;
  font-size: 17px;
}

/*HEADER*/
header {
  display: flex;
  justify-content: center;
  height: 150px;
  position: sticky;
  z-index: 10; 
  top: 0;
  margin-bottom: 3.5rem;
  border-bottom: solid 0.01rem #cdd0d4;
}

.meny-span{
  font-size: 2rem;
  transition: 0.3s;
}
.meny-span:hover{
  color: #a2b0c3;
  cursor: pointer;
}

header>nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

header>nav>ul {
  width: 700px;
  display: flex;
  padding-left: 0;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

header li {
  list-style: none;
}

header>div a {
  font-size: 1.1rem;
}


.bruer-logo {
  height: 8rem;
  width: 12rem;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.bruer-logo img{
  height: 100%;
  width: 100%;
}

.bruer-logo:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

/*MAIN*/
section{
  display: flex;
  align-items: center;
  width: 75%;
}
/*Vi bygger kulturelle bruer i samfunnet.*/
.bygge-bruer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: rgba(50, 64, 77, 1);
  position: absolute;
  text-align: center;
  background: var(--maincolor);
  border-radius: 14px;
  width: 40%;
  height: 20vw;
  padding: 1rem;
  transition: transform 0.3s;
}

.bygge-bruer-div .content:hover {
  transform: translateY(-5px);
}

.content h2 {
  margin-bottom: 2.5rem;
  color: #222c38;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bygge-bruer-div img {
  vertical-align: middle;
  object-fit: cover;
  object-position: top;
  flex-shrink: 0;
  width: 98%;
  min-height: 100%;
}
.les-mer-button a{
  text-decoration: none;
}
.les-mer-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 4vw;
  background-color: var(--bodycolor);
  width: 14vw;
  border-color: black;
  border-radius: 30px;
  border-width: 2px;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.content button{
  height: 3rem;
}

.les-mer-button:hover {
  background-color: var(--maincolor);
  transform: translateY(-5px);
}

.les-mer-button:active {
  background-color: #c0c0c0;
}

/*Se hva som kommer opp snart.*/
.kommende-eventer{
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin-top: 2rem;
}
.details-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.details-row button{
  border-radius: 1rem;
  height: 3rem;
  width: 9rem;
  background-color: var(--bodycolor);
  transition: 0.3s;
}
.details-row button:hover{
  cursor: pointer;
  background-color: var(--maincolor);
  transform: translateY(-5px);
}
.eventer-container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: left;
  transition: 0.3s;
}

.eventer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 32vw;
  border: solid 0.5px #c5c5c5;
  border-radius: 0.8rem;
  transition: 0.3s;
}

.eventer-div:hover {
  box-shadow: none;  /* Fjern box-shadow helt på hover */
  transform:translateY(-1rem);
}
.eventer-div:not(:hover) {
  box-shadow: none;  /* Sett tilbake den subtile skyggen etter hover */
}
.img-div {
  width: 100%;
  height: 400px; /* Fast høyde for bildefeltet */
  overflow: hidden; /* Skjuler deler av bildet som går utenfor */
}

.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Tilpasser bildet for å fylle hele høyden og bredden */
}

.dato-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 3rem;
}


.eventer-div h3{
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
  font-family: "Playfair Display";
}
.eventer-div p{
  width: 100%;
  text-align: center;
  margin-top: 0;
}
.eventer-div button{
  background-color: var(--bodycolor);
  width: 12rem;
  height: 3rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.3s;
}
.eventer-div button:hover{
  cursor: pointer;
  background-color: var(--maincolor);
  transform: translateY(-5px);
}

.daglig-leder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.daglig-leder ul{
  padding-left: 0;
}
.daglig-leder li:first-child{
  font-size: 2rem;
  font-weight: 600;
}
.daglig-leder li:nth-child(2){
  font-size: 1.3rem;
}
.daglig-leder li{
  list-style: none;
}
/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 3rem;
  border-top: 0.01rem solid #222c38;
}

footer>nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 70%;
}
footer>nav>ul{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  padding-left: 0;
  justify-content: space-evenly;
  gap: 1rem;

}
footer>nav>ul>li{
  list-style: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

footer span{
  font-weight: 600;
  width: 100%;
  font-size: 1rem;
}

/*OM OSS*/
#om_oss {
  display: flex;
  justify-content: center;
  width: 100%;  /* Sørger for at #om_oss bruker 100% bredde */
}
#om_oss section {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 4rem;
  transition: 0.2s;
  width: 70%; /* Sørger for at seksjonen bruker 100% bredde innenfor #om_oss */
}
.section_img{
  height: 100%;
}
#om_oss section:hover{
  transform: translateY(-2rem);
}
#om_oss section img{
  width: 40vw;
  height: 100%;
}

#om_oss section div h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;

}
#om_oss section div p{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
/*STØTT_OSS SIDE*/
#stott_oss .bilde-container{
  max-width: 50%;
}
#stott_oss .bilde-container img{
  width: 50rem;
}
#stott_oss div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
}
/*PROJECTER SIDE*/
.projecter-eventer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.projecter-eventer-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 0.05rem #222c38;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
}
.bilde-container{
  width: 50%;
}

.projecter-eventer-div img{
  height: 16rem;
  width: 100%;
  object-fit: cover; /* Sørger for at bildet fyller containeren uten å bli strekt */

}

.projecter-eventer-div button{
  width: 10rem;
  height: 3rem;
  background-color: var(--bodycolor);
  border-radius: 0.7rem;
  border: solid 0.1rem #222c38;
  transition: 0.3s;
}
.projecter-eventer-div button:hover{
  cursor: pointer;
  transform: translateY(-0.5rem);
  background-color: var(--maincolor);
}


.projecter-dato-div{
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.span-details-div{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 1.2rem;
}

.span-details-div span{
  background-color: var(--maincolor);
  font-weight: 500;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}
/*Menu*/
.overlay {
  height: 100%;
  width: 100%; /* Full bredde på skjermen */
  position: fixed;
  z-index: 11;
  top: -100%; /* Starter skjult over skjermen */
  left: 0;
  background-color: rgba(93, 52, 52, 0.8); /* Bakgrunnsfarge */
  overflow-x: hidden;
  transition: top 0.5s ease; /* Smooth slide-down animation */
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #aaaaaa;
  font-weight: 700;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.projecter-overlay p {
  width: 50%;
  line-height: 3rem;
  font-size: 1.4rem;
  color: #351f1f;
}
/*Mer detalier button*/
.projecter-overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  top: -100%; /* Hidden above the viewport initially */
  left: 0;
  background-color: rgba(154, 118, 118, 0.482); /* Updated for better visibility */
  overflow: hidden;
  transition: top 0.3s ease; /* Smooth slide-down animation */
}
.projecter-overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--bodycolor);
  width: 40%;
  overflow: hidden;
  border-radius: 1rem;
  height: fit-content;
  text-align: left;
  margin-top: 30px;
}
.projecter-overlay-content h1{
  font-size: 3rem;
  text-align: center;
}

.info-conatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bodycolor);
  width: 100%;
}

.img-container{
  max-height: 30rem;
  width: 100%;
  overflow: hidden;
}
.projecter-overlay-content img{
  height: 100%;
  width: 100%;
}

.projecter-overlay-content p{
  width: 90%;
  line-height: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}

.closebtn {
  padding: 8px;
  height: fit-content;
  text-decoration: none;
  position: sticky;
  font-size: 36px;
  background-color: rgba(0,0,0,0);
  border: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.closebtn:hover, .closebtn:focus{
  cursor: pointer;
  color: #f1f1f1;
}
/*404 page*/
#fffpage h1{
  font-size: 10rem;
}
/* Mobile Devices: Max width 768px */
@media  (max-width: 1300px) {
  .eventer-div{
    width: 50vw;
  }
}
@media screen and (max-width: 900px) {
  header{
    margin-bottom: 1.5rem;
    height: fit-content;
  }
  header nav{
    justify-content: space-between;
  }
  /* Body */
  body {
    font-size: 15px; /* Redusert fontstørrelse */
  }

  .bruer-logo {
    width: 28vw; /* Mindre logo */
    height: 18vw;
  }

  /* Main Content */
  section {
    flex-direction: column;
    width: 90%;
  }
  .bygge-bruer-div img{
    height: 80vw;
  }

  .content {
    width: 50%; /* Gjør boksen fleksibel */
    height: fit-content;
    padding: 0.5rem;
  }
  .content h2{
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }
  .les-mer-button{
    padding: 1rem;
    font-size: 0.9rem;
  }

  .details-row{
    justify-content: space-between;
    gap: 2rem;
  }
  .details-row h2{
    font-size: 1.5rem;
  }
  .overlay a{
    font-size: 1.3rem;
  }
  .kommende-eventer{
    width: 80vw;
  }
  .projecter-eventer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: var(--bodycolor);
    border: solid 0.5px #c5c5c5;
    box-shadow: none;
    border-radius: 0.8rem;
    padding-right: 0;
    transition: 0.3s;
  }
  .projecter-eventer-div h3, .projecter-eventer-div p{
    text-align: center;
  }
  .bilde-container{
    width: 100%;
  }
  .section_img{
    width: 400px;
  }
  .projecter-eventer-div img {
    height: 50vw;
    width: 100%;
  }
  .projecter-eventer-div button{
    margin-bottom: 1rem;
  }
  .projecter-dato-div{
    padding: 0;
  }
  
  .eventer-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 27vw;
    background-color: var(--bodycolor);
    border: solid 0.5px #c5c5c5;
    box-shadow: none;
    border-radius: 0.8rem;
    padding-right: 0;
    transition: 0.3s;
  }
  .span-details-div{
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .span-details-div span{
    margin-right: 0;
  }
  .bilde-container{
    width: 100%;
  }
  .eventer-div img {
    height: 42vw;
    width: 100%;
  }
  .eventer-div button{
    margin-top: 1rem;
    font-size: 1rem;
    width: 9rem;
    height: 2.2rem;
    margin-bottom: 1rem;
  }
  .closebtn{
    width: 3%;
  }
  .projecter-overlay-content{
    width: 80%;
  }
  .eventer-container{
    flex-direction: column;
  }

  .eventer-div {
    width: 100%; /* Bruker full bredde */
  }

  .img-div{
    height: 250px;
  }

  /* Footer */
  footer > nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #stott_oss .bilde-container img{
    width: 20rem;
  }

}

/* Small Mobile Devices: Max width 480px */
@media screen and (max-width: 768px) {
  /* Header */
  header {
    height: 120px; /* Mindre høyde */
  }

  header > nav {
    width: 80%;
  }

  header ul a {
    font-size: 0.8rem; /* Redusert fontstørrelse */
  }

  .meny-span {
    font-size: 1.3rem; /* Mindre font for menyikon */
  }

  /* Main Content */
  .content {
    font-size: 1.2rem; /* Redusert fontstørrelse */
    height: auto;
    width: 50%;
  }
  .content button{
    height: 1.8rem;
    width: 7rem;
  }
  .content h2{
    font-size: 1.2rem;
  }
  .bygge-bruer-div img{
    height: 70vw;
  }
  .section_img{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .section_img img {
    width: 100%; /* Bildet fyller hele containeren */
    height: 100%; /* Beholder bildets proporsjoner */
    max-width: 100%; /* Sørger for at bildet ikke blir større enn containeren */
  }
  #om_oss section{
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #om_oss section h2{
    font-size: 1.3rem;
  }
  #om_oss section p{
    font-size: 0.7rem;

  }

  /* Footer */
  footer > nav > ul {
    flex-direction: column;
    text-align: center; /* Sentraliser tekst */
  }
}
