header {
  display: flex;
  justify-content: center;
  height: 178px;
  flex: 1;
}

.middle-section {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.under-header {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

#menu-icon {
  color: black;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  font-family: "PT Serif";
  font-size: 14px;
}

a:after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

a:hover:after {
  width: 100%;
}

.bruer-logo-div {
  justify-content: center;
  display: flex;
  height: 105px;
}
.bruer-logo {
  object-fit: contain;
  border-radius: 40px;
  height: 100%;
  justify-content: center;
  display: flex;
  cursor: pointer;
  transition: opacity 0.3s, box-shadow 0.3s;
}

.bruer-logo:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 3px black;
}

body {
  background-color: #ebedef;
  margin-bottom: 100px;
  font-family: Arial;
  font-size: 17px;
  margin: 0;
  margin-bottom: 100px;
}

.bygge-bruer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  flex: 1;
}
.bygge-bruer-div img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.bygge-bruer-div .content {
  font-size: 27px;
  position: absolute;
  bottom: 1;
  text-align: center;
  background: #ebedef; /* Black background with 0.5 opacity */

  border-radius: 14px;
  width: 500px;
  height: 340px;
}
h1 {
  color: #222c38;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.bygge-bruer-img {
  vertical-align: middle;
  object-fit: cover;
  object-position: top;
}

.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.les-mer-button {
  background-color: #ebedef;
  height: 48px;
  width: 160px;
  border-color: black;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: box-shadow 0.3s;
  border-color: black;
  border-width: 3px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.les-mer-button:hover {
  background-color: #d3d3d3;
  box-shadow: 0px 0px 4px black;
}
.les-mer-button:active {
  background-color: #c0c0c0;
  box-shadow: 0px 0px 7px black;
}

.eventer {
  display: flex;
  justify-content: center;
}

.h1-eventer {
}

.bruer-logo-footer {
  width: 94px;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 36px;
    line-height: 50px;
  }
}
